
.main .mainImgBox {
  width: 100%;
  height: 400px;
  position: relative;
}
.main .mainImgBox .mainText {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 350px;
  height: 120px;
  padding: 16px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.4);
}
.main .mainImgBox .mainText p {
  opacity: 1;
  font-weight: 700;
}
.main .mainImgBox button {
  position: absolute;
  font-size: 60px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
}
.main .mainImgBox .leftBtn {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.main .mainImgBox .rightBtn {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.main .mainImgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .subTitleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .subTitleBox p {
  font-size: 12px;
  cursor: pointer;
  padding: 10px 0;
  box-sizing: border-box;
}
.main .subTitleBox .subTitle {
  font-size: 24px;
  font-weight: 700;
  color: teal;
  padding: 30px 0 10px;
  box-sizing: border-box;
}

.main .cultureListBox .listBox {
  background-color: yellow;
  height: 350px;
  display: flex;
  justify-content: space-between;
}
.main .cultureListBox .listBox .list {
  max-width: 150px;
  height: 220px;
  margin: 0 4px;
  margin-bottom: 10px;
  cursor: pointer;
}
.main .cultureListBox .listBox .list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .cultureListBox .listBox .list .listTitle {
  margin-bottom: 10px;
}
.main .cultureListBox .listBox .list .listDate {
  font-size: 8px;
  margin-bottom: 2px;
}
.main .cultureListBox .listBox .list .listDate {
  font-size: 12px;
}
.main .cultureContentBox {
  margin-bottom: 50px;
}
.main .cultureContentBox .contentBox {
  width: 100%;
  height: 350px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .cultureContentBox .contentBox .content {
  width: 300px;
  height: 100%;
  border: 1px solid lightgray;
}
.main .cultureContentBox .contentBox .content .contentSubTitleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 8px;
}
.main .cultureContentBox .contentBox .content .more {
  font-size: 12px;
  cursor: pointer;
}

.main .cultureContentBox .contentBox .content .contentSubTitle {
  color: teal;
  font-size: 20px;
}
.main .cultureContentBox .contentBox .content .text,
.subTitleBox {
  margin: 0 8px;
}
.main .cultureContentBox .contentBox .content img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-top: 8px;
}
/* 반응형 */
@media (max-width: 800px) {
  .main .cultureListBox .listBox {
    overflow-x: auto;
    white-space: nowrap;
  }
}
