.calendarBox {
  max-width: 1000px;
  height: 1300px;
  border: 1px solid white;
  font-family: "SUITE-Regular";
}

.calendarMonth {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px auto 45px;
}
.calendarMonth button {
  margin: 10px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.calendarMonth p {
  font-size: 25px;
  font-weight: 700;
  margin: 20px;
}
.days {
  display: flex;
  justify-content: center;
  align-items: center;
}
.days .day {
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
}

.days .day:first-child {
  color: red;
}

.days .day:last-child {
  color: blue;
}
.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.dates .date {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  max-width: 140px;
  height: 200px;
  padding: 8px;
  box-sizing: border-box;
  margin: 2px 0;
  border: 1px solid lightgray;
  font-weight: 700;
}
