.title {
  margin: 20px auto;
  font-size: 28px;
  font-weight: 700;
  color: teal;
}
.content {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
}
/* header, footer */
.header {
  width: 100%;
  height: 60px;
}
.header .navbar {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar > div {
  display: flex;
  justify-content: flex-start;
}

.header .navbar .navItem {
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid teal;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 4px;
}

.main {
  padding: 20px 0;
  box-sizing: border-box;
}
.main .subTitleBox {
  display: flex;
  justify-content: space-between;
}
.main .subTitleBox span{
  font-size: 12px;
  cursor: pointer;
}
.main .subTitleBox .subTitle {
  font-size: 20px;
  font-weight: 700;
  color: teal;
  margin-bottom: 20px;
}
